body {
	background: linear-gradient(
		to right,
		rgb(245, 20, 87),
		rgba(86, 13, 99, 0.705)
	);
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

form {
	width: 50%;
	background-color: #fff;
	padding: 5% 5%;
	color: #333;
	border-radius: 12px;
	margin: 5% auto;
	box-shadow: 2px 0 7px rgba(0, 0, 0, 0.2), -2px 0 7px rgba(0, 0, 0, 0.2),
		0 2px 7px rgba(0, 0, 0, 0.2), 0 2px 7px rgba(0, 0, 0, 0.2);

	h2 {
		font-weight: 400;
		margin-bottom: 10%;
	}

	input[type="submit"] {
		width: 150px;
		height: 50px;
		outline: none;
		border: none;
		border-radius: 5px;
		background-color: rgb(8, 113, 250);
		color: #fff;
		cursor: pointer;
		font-size: large;
		font-weight: 400;
	}
}

.form__row {
	display: flex;
	justify-content: space-between;

	input[type="text"],
	input[type="tel"],
	input[type="email"],
	input[type="date"] {
		display: block;
		width: 80%;
		height: 45px;
		margin: 3% 0 10% 0;
		padding: 0% 5%;
		border: 1.3px solid #ddd;
		font-weight: 600;
		font-size: medium;
		color: #555;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
			"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
		background-color: lighten(#eee, 3%);
		outline: none;
		border-radius: 8px;
	}

	label {
		font-weight: 500;
	}

	&__1 {
		width: 80%;
	}

	.sex {
		margin-top: 7%;

		input {
			transform: scale(1.5);
		}

		#female {
			margin-left: 20%;
		}
	}
}
.form_row {
	select {
		display: block;
		width: 96%;
		height: 45px;
		border: 1.3px solid #ddd;
		font-weight: 600;
		font-size: medium;
		color: #555;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
			"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
		background-color: lighten(#eee, 3%);
		outline: none;
		border-radius: 8px;
		padding: 0% 5%;
		margin: 3% 0 10% 0;
	}
}

input[type="date"]::-webkit-inner-spin-button {
	display: none;
}

@media screen and (max-width: 754px) {
	.form__row {
		display: block;

		input[type="text"],
		input[type="tel"],
		input[type="email"],
		input[type="date"] {
			width: 100%;
		}
	}

	.sex {
		margin-bottom: 10%;
	}

	.form_row {
		select {
			width: 90%;
		}
	}
}

@media screen and (max-width: 450px){
	#female{
		margin-left: 100%;
	}
}