* {
  font-family: K2D, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  margin: 0;
  padding: 0;
}

main {
  background: linear-gradient(to bottom, #ffff00, #ffff66);
  margin: -2% 0 0 0;
  padding-bottom: 5%;
}

main header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 5% 3%;
  align-items: center;
}

main header h2 {
  color: #444;
}

main header button {
  background-color: #2a1e1b;
  color: #fff;
  outline: none;
  border: none;
  width: 120px;
  height: 45px;
  border-radius: 7px;
  font-size: medium;
  font-weight: 600;
}

.content {
  width: 60%;
  margin: 0 auto;
}

.content h1 {
  text-align: center;
  font-size: 2.5em;
}

.content p {
  text-align: center;
  font-size: larger;
  line-height: 30px;
  color: #444;
  font-weight: 500;
}

.content button {
  display: flex;
  align-items: center;
  width: 140px;
  height: 40px;
  border-radius: 4px;
  background-color: rgba(14, 207, 14, 0.76);
  outline: none;
  border: none;
  margin: 10% auto;
  color: #fff;
  font-size: medium;
  font-weight: 500;
  justify-content: space-around;
}

.content button:hover {
  cursor: pointer;
  background-color: rgba(11, 159, 11, 0.76);
}

.codebox {
  width: 60%;
  padding: 2% 2% 0 2%;
  background-color: white;
  border-radius: 12px;
  margin: 0 auto;
  font-family: K2D, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: 1px;
  overflow-x: scroll;
  margin-bottom: 10%;
}

.codebox .dots {
  display: flex;
}

.codebox .dots .dot {
  margin-top: 0;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin-left: 1.2%;
}

.codebox .dots .red {
  background-color: #ff3333;
}

.codebox .dots .yellow {
  background-color: #ffff33;
}

.codebox .dots .green {
  background-color: #00b300;
}

.codebox code {
  line-height: 20px;
}

.codebox code::selection {
  background-color: #ffff00;
  color: #000;
}

.codebox code .span {
  counter-reset: counter-name;
}

.codebox code .span::before {
  counter-increment: counter-name;
  content: counter(counter-name);
}

.reason {
  margin: 10% auto;
  width: 55%;
}

.reason h2 .lang {
  color: #00ff37;
}

.reason h2 .lang::selection {
  background-color: #ffff00;
  color: #000;
}

.reason h2::selection {
  background-color: #ffff00;
  color: #000;
}

.reason .medias {
  margin-top: 10%;
}

.reason .medias .media {
  display: flex;
  width: 100%;
  margin: 15% 0;
  justify-content: space-around;
}

.reason .medias .media .medium {
  display: flex;
  align-items: center;
  padding-left: 0;
  width: 100%;
  font-size: large;
  color: #444;
  font-weight: 500;
}

.reason .medias .media .medium .green {
  margin-right: 20%;
  color: rgba(90, 255, 39, 0.924);
}

.reason .medias .media .medium::selection {
  background-color: #ffff00;
  color: #000;
}

.reason .medias .media .m1 {
  margin-left: 20%;
}

.testimonial {
  width: 60%;
  margin: 0 auto 10% auto;
}

.testimonial p {
  font-size: medium;
  font-weight: 500;
  color: #444;
}

footer {
  background-color: #eee;
  margin-bottom: 0;
  text-align: center;
  padding: 1%;
}

footer p {
  margin: 1.5% 0;
}

footer p a {
  color: #000;
  margin: 0% 3%;
  font-weight: 600;
  font-size: medium;
}

footer p a:hover {
  color: #777;
  text-decoration: none;
}

@media screen and (max-width: 576px) {
  .reason {
    width: 80%;
  }
  .reason .medias {
    width: 100%;
  }
  .reason .medias .media {
    display: block;
  }
  .reason .medias .media .m1 {
    margin: 0;
  }
}
